<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-white" href="{% url 'index' %}">AWWWARDS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
      <form class="form-inline my-2 my-lg-0" style="margin-left: 500px;" action="{% url 'search_project' %}">
        <input class="form-control mr-sm-2" type="search" placeholder="Search by Project Name" name="project" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

          <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" href="{% url 'profile' %}">Profile <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item text-white">
          <a class="nav-link text-white" href="{% url 'profile' %}">Login</a>
        </li>
             <li class="nav-item text-white">
          <a class="nav-link text-white" href="{% url 'profile' %}">Register</a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled text-white" href="/logout" tabindex="-1" aria-disabled="true">Logout</a>
        </li>
      </ul>

      <a class="ml-5" href="{% url 'new_project' %}"><button type="button" class="btn btn-primary">SUBMIT YOUR
          SITE!</button></a>
    </div>
  </nav>
</body>

</html>